In [21]:
%reload_ext sql
%sql postgres://isdb@localhost/postgres

'Connected: isdb@postgres'

In [22]:
%%sql

SELECT * FROM TweetsRaw LIMIT 5;

5 rows affected.

[('1', 'sprintcare', False, datetime.datetime(2017, 10, 31, 22, 10, 47), '@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.', '2', '3'),
 ('2', '115712', True, datetime.datetime(2017, 10, 31, 22, 11, 45), '@sprintcare and how do you propose we do that', None, '1'),
 ('3', '115712', True, datetime.datetime(2017, 10, 31, 22, 8, 27), '@sprintcare I have sent several private messages and no one is responding as usual', '1', '4'),
 ('4', 'sprintcare', False, datetime.datetime(2017, 10, 31, 21, 54, 49), '@115712 Please send us a Private Message so that we can further assist you. Just click â\x80\x98Messageâ\x80\x99 at the top of your profile.', '3', '5'),
 ('5', '115712', True, datetime.datetime(2017, 10, 31, 21, 49, 35), '@sprintcare I did.', '4', '6')]

In [25]:
%%sql

DROP VIEW IF EXISTS OriginalTweets;

CREATE VIEW OriginalTweets AS
SELECT * FROM TweetsRaw
WHERE in_response_to_tweet_id IS NULL;

Done.
Done.

[]

In [43]:
%%sql

DROP VIEW IF EXISTS TweetsReplied;

CREATE VIEW TweetsReplied AS
SELECT * FROM TweetsRaw
WHERE response_tweet_id IS NOT NULL;

Done.
Done.

[]

In [41]:
%%sql

DROP VIEW IF EXISTS TweetsNotReplied;

CREATE VIEW TweetsNotReplied AS
SELECT * FROM TweetsRaw
WHERE response_tweet_id IS NULL;

Done.
Done.

[]

In [29]:
%%sql

SELECT r.tweet_id, r.tweet, COUNT(o.*) AS replies
FROM OriginalTweets AS o
JOIN TweetsRaw AS r
ON r.in_response_to_tweet_id = o.tweet_id
GROUP BY r.tweet_id, r.tweet
ORDER BY replies DESC
LIMIT 5;

5 rows affected.

[('1000001', '@AppleSupport Is this allowed when you upgrade at an Apple store with the upgrade program?', 1),
 ('1000003', '@AppleSupport  https://t.co/OnHabGwPo7', 1),
 ('1000010', '@AppleSupport Does this mean I donâ\x80\x99t have to back my old phone up?', 1),
 ('1000011', '@356751 Thanks for reaching out to us for support. We would love to help you. Please DM us so that we can look into this together. https://t.co/GDrqU22YpT', 1),
 ('10', '@115712 Hello! We never like our customers to feel like they are not valued.', 1)]

In [36]:
%%sql

SELECT COUNT(*) FROM TweetsRaw;

1 rows affected.

[(2811774,)]

In [44]:
%%sql
SELECT COUNT(*) FROM TweetsReplied;

1 rows affected.

[(1771145,)]

In [42]:
%%sql
SELECT COUNT(*) FROM TweetsNotReplied;

1 rows affected.

[(1040629,)]